{block name="component_emotion_name"}
    {if $Data}

        {if $Data.EmotionNameText}
            <h4>{$Data.EmotionNameText}</h4>
            {else}
            <h4>Boilerplate was installed</h4>
        {/if}

    {/if}
{/block}
